@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}
html{
scroll-behavior: smooth;
}
body{
min-height: 1000px;
}
.piro {
min-height: 100vh ;
display: flex;
justify-content: center;
align-items: center;
background: url(bg.jpg);
background-size: cover;


}

.banner h2 {

  position: relative;
  font-size: 88px ;
  color: #252839;
  -webkit-text-stroke: 2px  #383d52;
  text-transform: uppercase;
}

.banner h2::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #0cff61;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,10%,100%{
    width: 0;
    color: #078fff;
    transition: ease-in-out;
    
  }
  70%,90%{
    width: 100%;
    color: #01fe87;
    
  }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 40px 100px;
   z-index: 1000;
   transition: 0.6s;
}
header.sticky{
padding: 5px 100px;
background : rgb(255, 252, 252) ;
border-bottom: 1px solid rgba(0,0,0,.1);
}

header .logo{
position: relative;
font-weight: 700;
color: rgb(2, 90, 253);
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.6s;
}

header .logo img {
    border-radius: 50%;
    width: 83px;
    height: 92px ;
}
header ul {
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
header ul li {
position: relative;
list-style: none;
} 
header ul li a {
position: relative;
margin: 0 15px;
text-decoration:none;
color: rgb(255, 255, 255);
letter-spacing: 2px;
font-weight: 300;
transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
color: rgb(0, 0, 0);
font-size: 25px ;

}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh ;
  background: url(bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .banner h2 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  }

.sec
 {
background: #fff;
padding: 100px;
min-height:33vh;
display: flex;
justify-content: center;
align-items: center;
 }
 .sec .content {
position: relative;
text-align: center;
width: 100%;
 }

 .mxw800p{
     max-width: 800px;
     margin: 0 auto;
 }
 .mxw800p h2 {
     font-size: 33px ;
     text-transform: uppercase;
     margin-top:34px  ;
 }
h3{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}
p{
position: relative;
font-size: 18px;
margin-bottom: 20px;
letter-spacing: 1px;
}

.services 
{
position: relative;
display: grid;
grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
grid-gap: 30px;
max-width: 100%;
margin-top: 40px;
}

.services .box {
    width: 300px;
    margin: 0 auto;
    background: rgb(250, 246, 9);
    padding: 20px ;
    
    box-shadow: 0 15px 30px rgba(0,0,0,.05);
}
.services .box1 {
  width: 300px;
  margin: 0 auto;
  background: rgb(10, 238, 143);
  padding: 20px ;
  
  box-shadow: 0 15px 30px rgba(0,0,0,.05);
} 
.services .box .iconBx ,.services .box1 .iconBx
{
margin-top: 25px;
}
.services .box .iconBx img , .services .box1 .iconBx img{
max-width: 122px ;
margin-bottom: 15px ;
}
.services .box h2 {
font-size: 18px;
margin-bottom:10px ;
text-transform: uppercase;
font-weight: 700;
}
.services .box .content{
  text-align: left;
  margin-top: 22%;
}
.stats {
background:#000;
padding-top: 250px;
margin-top: -250px ;
}

.stats h3,
.stats p{
color: rgb(247, 231, 231);
}

.statsbox{
position: relative;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
grid-gap: 20px ;
max-width: 100%;
margin-top: 40px;
}

.statsbox h2 {
    color: #fff;
    font-size: 36px;
}

.statsbox h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workBx{
position: relative;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
grid-gap: 30px;
max-width: 100%;
margin-top: 40px;
}
.workBx .brand {
position: relative;
background:#4978ff;
min-height: 300px ;
width: 250px;
margin: 0 auto ;
display: flex;
justify-content: center;
align-items: center;
}
.workBx .brand img {
  height: 200px ;
  width: 200px ;
}

.workBx .brand:hover{
background: rgb(17, 226, 94);
}

.workBx .brand a {
text-decoration: none;
color: rgba(255,255,255,.04);
text-transform: uppercase;
letter-spacing: 2px ;
}

.workBx .brand:hover a{
    color: rgba(255,255,255,1);
}
.toggle {
    display: none;
}

@media (max-width: 922px)
{
.toggle
{
    display: block;
    position: relative;
    width: 30px ;
    height: 30px;
    cursor: pointer;
}
.toggle:before 
{
content: '';
position: absolute;
top: 4px;
width: 100%;
height: 2px ;
background: #000;
z-index: 1;
box-shadow: 0 10px 0 #000;
transition: 0.5s;
}

.toggle:after{
content: '';
position: absolute;
top: 4px;
width: 100%;
height: 2px ;
background: #000;
z-index: 1;
transition: 0.5s;
}

header,
header.sticky {
 padding: 5px 50px ;
 background: #fff;   
}

header ul {
position: absolute;
top: 59px ;
left: 0;
width: 100%;
height: 100vh ;
text-align: center;
overflow: auto;
background: #fff;
visibility: hidden;
opacity:0;
}

header.active ul  {
 visibility: visible;
opacity: 1;
display: block;
padding-top:20px  ;
}

header.active ul li a {
display: inline-block;
margin: 10px 0;
font-size: 15px ;

}

header .logo,
header ul li a {
color: #000;

}

.banner{
    background-position: center;
}
.banner h2 {
    font-size: 60px ;
    padding: 0 50px ;
}

.sec {
  padding: 100px 50px 50px 50px ;
}

.services .box {
  width:  100% ;
}

.stats {
  padding-top:250px ;
}

.col-lg-5 d-flex align-items-stretch
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
    right: 93%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.contact .info {
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .contact .info i {
    font-size: 20px;
    color: #1bac91;
    float: left;
    width: 44px;
    height: 44px;
    background: #e1f0ee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #21413c;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #43857a;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: #1bac91;
    color: #fff;
  }
  
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #1bac91;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #1bac91;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #22d8b6;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .scrollTop{
    position: fixed;
    bottom: 800px;
    right: 40px ;
    width: 60px ;
    height: 60px ;
    background: url(up-arrow.png);
    border-radius: 50%;
    background-size: 40px ;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 00.5s;
    z-index: 100;
  }
  
  .scrollTop.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
  }



  * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .sec.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .sec {
    background: #fff;
    /* padding: 100
px
; */
    min-height: 33
vh
;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Caption text */
  .sec.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .sec.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .sec.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .sec.active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .sec.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }



  .statsbox h4 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

  .stats h3, .stats p {
    color: rgb(55 42 255);
}


  .statsbox h2 {
    color: #ff1515;
    font-size: 36px;
}


  #footer {
    background: rgb(21, 214, 31);
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #000000;
    border-bottom: 1px solid #18302c;
    padding: 60px 0 30px 0;
    
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1c3733;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #1bac91;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #4ae3c6;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #34dfbf;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px 0 0 4px;
  }
  
  #footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1bac91;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #14806c;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
      
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
  .sir p {
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
margin: 50px ;
margin-top: -47px ;
padding: 48
px
;
}
  

