@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Shrikhand&display=swap');
  body{
    min-height: 1000px;
    font-family: 'Poppins', sans-serif;

    }

  header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
       align-items: center;
       padding: 40px 100px;
       z-index: 1000;
       transition: 0.6s;
    }

    header.sticky{
    padding: 5px 100px;
    background : #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    }
    
    header .logo img {
    position: relative;
    width: 64px;
    height: 70px;
    border-radius: 50%;
    }
    
    header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    }


    header ul li {
    position: relative;
    list-style: none;
    } 

    header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration:none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
    }
    
    header.sticky .logo,
    header.sticky ul li a {
    color: rgb(0, 0, 0);
    }

   
 .banner {
    position: relative;
    width: 100%;
    min-height: 100vh ;
    background: url(bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .banner h2 {
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    }
    
    .banner h2 span {
    color:#4978ff ;
    }




    * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

 .sec.content.mxw800p h2 {
    font-size: 100px ;
}